
.displayBox{
    margin-top: 50px;
    width: 80%;
    min-height: 40vh;
    padding: 6px;

    border: 2px solid #8E44AD; 
    border-radius: 10px; 
    padding: 20px;
    /* background-color: #f8f8f8;  */
    background-color: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.comment{
    border: 1px solid #ddd; 
    border-radius: 8px; 
     padding: 15px;
     background-color: #fff; 
     box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05); 
     font-family: sans-serif; 
     transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.comment:hover {
    transform: translateY(-2px);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1); 
}

.reaction{
    /* border: 1px solid black; */
    margin-bottom: 10px; 
    width: 30%;
    margin-left: 13px;
    margin-top: 0px;
    

}

.reaction button{
    margin-right: 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    
}

